<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.login %></h1>
    <p>
      Today's surf report rating:
      <%= @user.surf_data['solidRating'] %>/5.<br>
    </p>
    <p>
      Reported at:
      <%= Time.at(@user.surf_data['localTimestamp']).to_time %>.<br>
    </p>
    <p>
      Evening Forcast:
    </p>
    <p>
      Got a suggestion or feedback for this report? Send an email to <%= @user.email %>.
    </p>
    <p>
      Have a great day!
      Love - Randy, Surf Mailer
    </p>
  </body>
</html>